input.multiCheck{
	
}

.withcolor{
	color:red;
}
#sampleform{
	background-color:blue;
}

img.imgReviewThumbs{
	height: 38px;
	width: 186px;
}

img.imgReviewAverageThumbs{
	height: 25px;
	width: 131px;
}

.radioReview {
    width: 0.75em;
    height: 0.75em;
}

#textareaReview {
	width: 100%;
	height: 200px;
	margin-top: 1em;
}